@import "././global.scss";
h3 {
  text-align: center;
  margin-top: 0.3rem;
  color: #2b061e;
}
.patient-list-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  .noData-msg {
    margin: 15rem auto;
  }

  @include mobile {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
}
